<launch>
  <!-- Drone namespace prefix  -->
  <arg name="gnss_ns" default="gnss"/>

  <!-- Set debug to true to fake data -->
  <arg name="control" default="true"/>
  <arg name="filter" default="true"/>

  <!-- Set record to true to bag data -->
  <arg name="record" default="true"/>

  <!-- Set record to true to bag data -->
  <arg name="type" default="serial"/>

  
  <!-- Parser -->
  <!-- Launch either the serial or socket version -->
  <group if="$(eval type=='serial')"  ns="$(arg gnss_ns)">
    <node pkg="gnss_data" type="parser_node_serial" name="parser_node_serial" output="screen">
    </node>
    <rosparam command="load" file="$(find gnss_data)/resources/parameters2.yaml" />
  </group>
  <group if="$(eval type=='socket')"  ns="$(arg gnss_ns)">
    <node pkg="gnss_data" type="parser_node_socket" name="parser_node_socket" output="screen">
    </node>
    <rosparam command="load" file="$(find gnss_data)/resources/parameters.yaml" />
  </group>



</launch>
